.vscode
*.pyc
*/**__pycache__
swarm_gpt.egg-info
saves
# !saves/sim2real.bag*
#!saves/.gitkeep
**/.ipynb_checkpoints
**.mp4
!/docs
!/docs/media
!/docs/media/video
!/docs/media/video/*.mp4
backup
build
sandbox/
/data/
/video
site

# ROS2 build artifacts
install/
log/
submodules/vicon_ws/build/
submodules/vicon_ws/install/
submodules/vicon_ws/log/

# submodules
crazyswarm
axswarm
vicon_bridge
catkin_ws

openai_api_key.sh

# submodules
submodules/crazyswarm2/ros_ws/install/
submodules/crazyswarm2/ros_ws/build/
submodules/crazyswarm2/ros_ws/log/
submodules/crazyswarm2/ros_ws/install/**
submodules/crazyswarm2/ros_ws/build/**
submodules/crazyswarm2/ros_ws/log/**
**/COLCON_IGNORE
**/.built_by